{#
/**
 * @file
 * Template for displaying workflow information on the workflow tab.
 *
 * Available variables:
 * - workflows: Array of workflow entities.
 * - node: The node entity.
 * - can_edit: Boolean indicating if user can edit workflow.
 */
#}
<div class="workflow-tab-content">
  <div class="workflow-section">
    <h3>{{ 'Workflow Information'|t }}</h3>
    
    {% if workflows is not empty %}
      <table class="workflow-assignments-table" id="workflow-assignments-table">
        <thead>
          <tr>
            <th>{{ 'Workflow Name'|t }}</th>
            <th>{{ 'Description'|t }}</th>
            <th>{{ 'Assigned'|t }}</th>
            <th>{{ 'Comments'|t }}</th>
            <th>{{ 'Actions'|t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for workflow in workflows %}
            <tr>
              <td><strong>{{ workflow.label }}</strong></td>
              <td class="description-cell">
                <div class="expandable-cell" data-full-text="{{ workflow.getDescription|default('-')|e('html_attr') }}">
                  <span class="cell-content">
                    {% if workflow.getDescription %}
                      {{ workflow.getDescription|length > 50 ? workflow.getDescription|slice(0, 50) ~ '...' : workflow.getDescription }}
                    {% else %}
                      -
                    {% endif %}
                  </span>
                </div>
              </td>
              <td class="assigned-cell">
                {% set assigned_type = workflow.getAssignedType %}
                {% set assigned_label = workflow.getAssignedLabel %}
                {% if assigned_type and assigned_label %}
                  {% set class_map = {
                    'user': 'assigned-user',
                    'group': 'assigned-group',
                    'destination': 'assigned-destination'
                  } %}
                  <span class="assigned-entity {{ class_map[assigned_type]|default('') }}">
                    {{ assigned_label }}
                  </span>
                {% else %}
                  -
                {% endif %}
              </td>
              <td class="comments-cell">
                <div class="expandable-cell" data-full-text="{{ workflow.getComments|default('-')|e('html_attr') }}">
                  <span class="cell-content">
                    {% if workflow.getComments %}
                      {{ workflow.getComments|length > 50 ? workflow.getComments|slice(0, 50) ~ '...' : workflow.getComments }}
                    {% else %}
                      -
                    {% endif %}
                  </span>
                </div>
              </td>
              <td class="actions-cell">
                {% if can_administer %}
                  <a href="{{ path('workflow_assignment.quick_edit', {'workflow_list': workflow.id}) }}" class="button button--small">
                    {{ 'Edit'|t }}
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="no-workflow-message">
        <p>{{ 'No workflows are currently assigned to this content.'|t }}</p>
      </div>
    {% endif %}
    
    {% if can_edit %}
      <a href="{{ path('workflow_assignment.node_assign', {'node': node.id}) }}" class="button button--primary">
        {{ workflows is not empty ? 'Manage Workflows'|t : 'Assign Workflows'|t }}
      </a>
    {% endif %}
  </div>
</div>
